@import '../../../scss/colors';

.footer-container {
  color: $white;
  background-color: $black;
  padding: 64px 0;
  text-align: center;

  > div, > p {
    margin: 16px 0;
  }

  i {
    font-size: 1.5em;
    margin-right: 8px;
  }
}