@import '../../../scss/variables';

#contact {
  .contact-container {
    padding: 0 8px;

    i {
      font-size: 2em;
      margin-right: 16px;
      width: 1em;
      text-align: center;
    }

    .contact-list {
      width: 100%;
      @media screen and (min-width: $break-small) {
        width: 50%;
      }
    }

    .contact-map {
      @extend .contact-list
      height: 400px;
    }
  }
}