#contact {
  .contact-container {
    padding: 0 8px;

    i {
      font-size: 2em;
      margin-right: 16px;
      width: 1em;
      text-align: center;
    }

    .contact-list {
      width: 50%;
    }

    .contact-map {
      width: 50%;
      height: 400px;
    }
  }
}