@import '../../../scss/variables';
$icon-img: url(../../../img/icon.png);

.nav-container {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav-top {
    background-color: $white;
    display: flex;

    .nav-lang-btn {
      cursor: pointer;
      padding: 16px 0;

      &:hover {
        background-color: $gray;
      }
      
      >div {
        border-left: 1px dashed $gray;
        line-height: 24px;
        padding: 0 16px;
      }
    }

    .nav-navbar {
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 100%;
      position: relative;

      div.nav-left {
        display: inline-block;

        .nav-link {
          background-position: center;
          background-size: cover;
          background-image: $icon-img;
          width: 145px;
          height: 44px;
          margin: 4px;
        }
      }

      div.nav-right {
        display: inline-block;
        position: absolute;
        right: 0;

        .nav-link {
          padding: 16px;
          line-height: 24px;

          &:hover {
            background-color: $gray;
          }
        }

        &.nav-large {
          @media screen and (max-width: $break-small) {
            display: none;
          }
        }

        &.nav-small {
          cursor: pointer;

          @media screen and (min-width: $break-small) {
            display: none;
          }
        }
      }
    }
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    color: inherit;
  }

  .nav-sidebar {
    position: fixed;
    width: 200px;
    z-index: 1;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    color: $white;
    background-color: $black;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);

    @media screen and (min-width: $break-small) {
      display: none;
    }

    &.slide-right {
      transform: translateX(0);
    }

    .nav-close {
      &.nav-link {
        padding: 16px;
        line-height: 32px;
        font-size: 1.2em;
      }

      i {
        margin-left: 8px;
        font-size: 0.8em;
      }
    }

    .nav-link {
      padding: 8px 16px;
      cursor: pointer;
      display: block;
      line-height: 1.5em;

      &:hover {
        color: $black;
        background-color: $gray;
      }
    }
  }
}

