$font-stack: 'Roboto', sans-serif;
$primary-color: #000;

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  color: $primary-color !important;;
  height: 100%;
  margin: 0;
  padding: 0;

  > div {
    height: 100%;
  }
}

#app {
  > div {
    height: 100%;
  }
}
