@import './colors';

$font-stack: 'Roboto', sans-serif;

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  color: $black !important;;
  height: 100%;
  margin: 0;
  padding: 0;

  > div {
    height: 100%;
  }
}

#app {
  > div {
    height: 100%;
  }
}

.container {
  padding: 128px 16px;
}

.container-light-gray {
  background-color: $light-gray;
}

.container-title {
  text-align: center;
}

.container-subTitle {
  text-align: center;
  font-size: 1.1em;
}
